<%- include('partials/header.ejs') %>
    <div class="table-wrapper">
        <% if (fruit.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Image</th>
                        <th scope="col">Fruit Name</th>
                        <th scope="col">Color</th>
                        <th scope="col">Calories</th>
                        <th scope="col">season</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% fruit.forEach((yum, index) => { %>
                        <tr>
                            <th scope="row"><%= yum.id %></th>
                            <td><img src="<%= hostingDir %>/assets/img/<%= yum.image %>" class="rounded-circle food-img" alt=""></td>
                            <td><%= yum.fruit_name %></td>
                            <td><%= yum.colors %></td>
                            <td><%= yum.calories %>kcal</td>
                            <td><%= yum.season %></td>
                            <td>
                                <a href="<%= hostingDir %>/edit/<%= yum.id %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
                                <a href="<%= hostingDir %>/delete/<%= yum.id %>" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No fruit found. Go <a href="<%= hostingDir %>/add" >here</a> to add fruit.</p>
        <% } %>
    </div>
</div>
</body>
</html>